# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.dist/
build/
dist/
.venv/
.env

# Node
node_modules/
npm-debug.log*
yarn.lock # (only if you don't want it)
pnpm-lock.yaml

# OS/editor
.DS_Store
.idea/
.vscode/